appdirs==1.4.3
backports.weakref==1.0rc1
bleach==1.5.0
bottle==0.12.19
certifi==2017.11.5
chardet==3.0.4
enum34==1.1.6
flake8==3.5.0
html5lib==0.9999999
idna==2.6
Markdown==2.6.9
mccabe==0.6.1
numpy==1.13.3
packaging==16.8
pew==1.1.2
pipenv==9.0.1
pkginfo==1.4.1
protobuf==3.4.0
PyAudio==0.2.11
pycodestyle==2.3.1
pyflakes==1.6.0
pyparsing==2.2.0
requests==2.18.4
requests-toolbelt==0.8.0
six==1.11.0
tensorflow==2.4.0
tensorflow-tensorboard==0.1.8
tf==1.0.0
tf-nightly==1.4.0.dev20171004
tqdm==4.19.5
twine==1.9.1
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.2.6
Werkzeug==0.15.3
